<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>点灯</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">

        <script>
            var connection
            window.addEventListener("load", function () {
                connection = new WebSocket("ws://"+window.location.hostname+":8081")

                connection.onopen = function () {
                    console.log("Connection opened")
                }
                connection.onclose = function () {
                    console.log("Connection closed")
                }
                connection.onerror = function () {
                    console.error("Connection error")
                }
                connection.onmessage = function (event) {
                    console.log(event);
                    //alert(event.data);

                    var body = document.getElementById('body'); 
                    body.setAttribute("class", "light");  
                }
            })
        </script>
    </head>

    <body id="body">
    </body>
</html>